[submodule "Code/submodules/embedded_c_modules"]
	path = Code/submodules/embedded_c_modules
	url = https://github.com/Hardware7253/embedded_c_modules.git
[submodule "Code/submodules/CMSIS_6"]
	path = Code/submodules/CMSIS_6
	url = https://github.com/ARM-software/CMSIS_6.git
[submodule "Code/submodules/cmsis-device-g4"]
	path = Code/submodules/cmsis-device-g4
	url = https://github.com/STMicroelectronics/cmsis-device-g4.git
[submodule "Code/submodules/stm32g4xx-hal-driver"]
	path = Code/submodules/stm32g4xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32g4xx-hal-driver.git
